* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 98vh;
    background-color: #0e5e9a;
}
.page-title {
    font-family: 'Grandstander', cursive;
    font-size: 1.5rem;
    margin-bottom: -20px;
    margin-top: 10px;
    background-image: linear-gradient(90deg, rgba(77,177,236,1) 0%, rgba(150,150,255,1) 46%, rgba(0,255,214,1) 80%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    justify-content: center;
}
.memory-game {
    width: 800px;
    height: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memo-card {
    width: calc(25% - 10px);
    height: calc(16.66% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memo-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memo-card.flip {
    transform: rotateY(180deg);
}
.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #82c8dc;
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}
